.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.App {
  min-height: 100vh;
  background-color: #E7E7E7;
  margin: auto;
}

.header {
  max-width: 80vw;
  min-height: 30vh;
  background-color: #E70000;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.input-section-wrapper {
  margin: auto;
}

.brand-name {
  font-size: 4.5rem;
  color: #E7E7E7;
  font-style: italic;
  font-family: 'Anton', sans-serif;
  position: relative;
  top: 4vh;
}

.input-section {
  margin: auto;
  max-width: 50vw;
  max-height: 10vh;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.input-section-searchbar {
  min-width: 35vw;
  min-height: 6vh;
  padding-left: 2vw;
  border: 3px solid white;
  border-radius: 20px 0px 0px 20px;
  font-size: 25px;
}

.input-section-searchbar:focus {
  outline: none;
}

.input-section-submit:focus {
  outline: none;
}

.brand-name {
  font-family: 'Anton', sans-serif;
}

::placeholder {
  font-size: 24px;
}

.input-section-dropdown {
  text-decoration: none;
  height: 7vh;
  border-radius: 0px 0px 0px 0px;
} 

.input-section-submit {
  border-radius: 0px 20px 20px 0px;
}

.hero-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero-card {
  margin: 5vh 0vh 5vh 0vh;
  border: 2px solid black;
  border-style: inset;
  background-color: white;
}